Repository DonIsaac/zlint, changes with the labels that .github/labeler.yml gives for each.
All labels: A-cli, A-linter, A-semantic, A-reporter, C-ci, C-test

fix
  src/cli/Options.zig
  test/semantic/snapshot_coverage.zig
  zlint.schema.json
Labels: A-cli, C-test

fix linting from --stdin
  src/cli/lint_command.zig
Labels: A-cli

wip
  .github/workflows/ci.yaml
  src/linter/rules/suppressed_errors.zig
  src/reporter/Reporter.zig
Labels: A-linter, A-reporter, C-ci

fix usingnamespace kw in Ast.zig
  src/zig/0.14.1/Ast.zig
Labels: none

lil fixes
  build.zig.zon
  src/reporter/Reporter.zig
Labels: A-reporter

make coderabbit happy
  src/cli/lint_command.zig
  src/util/cow.zig
Labels: A-cli

add PowerShell install script
  tasks/install.ps1
Labels: none

update installation instructions
  README.md
  apps/site/docs/installation.md
  apps/vscode-extension/README.md
Labels: none

Windows Installation (#334)
  README.md
  apps/site/docs/installation.md
  apps/vscode-extension/README.md
  tasks/install.ps1
Labels: none

adjust format args
  src/cli/Options.zig
  src/reporter/Reporter.zig
  src/reporter/formatter.zig
Labels: A-cli, A-reporter

wire up more tests
  src/root.zig
Labels: none

add test cases for format args
  src/cli/Options.zig
Labels: A-cli

adjust error message
  src/cli/Options.zig
Labels: A-cli

fix test
  src/cli/Options.zig
Labels: A-cli

refactor(sema): move `ReferenceStack` to separate file
  src/Semantic/ReferenceStack.zig
  src/Semantic/SemanticBuilder.zig
Labels: A-semantic

refactor(sema): move `ReferenceStack` to separate file (#336)
  src/Semantic/ReferenceStack.zig
  src/Semantic/SemanticBuilder.zig
Labels: A-semantic

chore: add feature flag for using v0.15 AST
  build.zig
  src/Semantic.zig
  src/Semantic/Parse.zig
  src/Semantic/ast.zig
  src/Semantic/tokenizer.zig
  src/linter/lint_context.zig
  src/root.zig
  src/span.zig
  src/util.zig
  src/util/feature_flags.zig
  src/zig.zig
Labels: A-linter, A-semantic

chore: add feature flag for using v0.15 AST (#337)
  build.zig
  src/Semantic.zig
  src/Semantic/Parse.zig
  src/Semantic/ast.zig
  src/Semantic/tokenizer.zig
  src/linter/lint_context.zig
  src/root.zig
  src/span.zig
  src/util.zig
  src/util/feature_flags.zig
  src/zig.zig
Labels: A-linter, A-semantic

ci: clear zig-out/repos
  .github/workflows/ci.yaml
  test/harness/TestSuite.zig
  test/repos.json
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: C-ci, C-test

chore: bump ecosystem repo versions (#338)
  .github/workflows/ci.yaml
  test/harness/TestSuite.zig
  test/repos.json
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: C-ci, C-test

ci: let CI run on PRs with non-main base branches
  .github/workflows/ci.yaml
Labels: C-ci

fix(sema): handle non-full var decls in destructuring patterns
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_decl_test.zig
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: A-semantic, C-test

fix(sema): handle non-full var decls in destructuring patterns (#342)
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_decl_test.zig
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: A-semantic, C-test

ci: let CI run on PRs with non-main base branches (#341)
  .github/workflows/ci.yaml
Labels: C-ci

fix(sema): properly handle reassignment destructurings
  src/Semantic/Builder.zig
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: A-semantic, C-test

add a test
  src/Semantic/Builder.zig
  src/Semantic/test/assign_destructure_test.zig
Labels: A-semantic

fix: support arbitrary lvalue reassignments
  src/Semantic/Builder.zig
  src/Semantic/test/assign_destructure_test.zig
Labels: A-semantic

add test symbol ref flag test cases for LHS array access nodes
  src/Semantic/test/symbol_ref_test.zig
Labels: A-semantic

fix(sema): properly handle reassignment destructurings (#343)
  src/Semantic/Builder.zig
  src/Semantic/test/assign_destructure_test.zig
  src/Semantic/test/symbol_ref_test.zig
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: A-semantic, C-test

chore: bump version to 0.8.1
  build.zig.zon
Labels: none

fix(sema): fix several bugs in Builder and add regression tests
  src/Semantic/Builder.zig
  src/Semantic/test/modules_test.zig
  src/Semantic/test/symbol_decl_test.zig
  src/Semantic/test/util.zig
Labels: A-semantic

fix(sema): fix several Builder bugs and add regression tests (#344)
  src/Semantic/Builder.zig
  src/Semantic/test/modules_test.zig
  src/Semantic/test/symbol_decl_test.zig
  src/Semantic/test/util.zig
Labels: A-semantic

chore: add AGENTS.md
  .cursor/skills/zlint-new-rule/SKILL.md
  AGENTS.md
  CONTRIBUTING.md
Labels: none

chore: add AGENTS.md (#345)
  .cursor/skills/zlint-new-rule/SKILL.md
  AGENTS.md
  CONTRIBUTING.md
Labels: none

fix(lint): disable directive comment parsing
  src/lint.zig
  src/linter/disable_directives/Parser.zig
  src/linter/disable_directives/Parser_test.zig
  src/root.zig
Labels: A-linter

fix: replace remaining() with manual bounds check
  src/linter/disable_directives/Parser.zig
Labels: A-linter

fix another possible infinite loop on numeric characters, etc.
  src/linter/disable_directives/Parser.zig
  src/linter/disable_directives/Parser_test.zig
Labels: A-linter

fix(lint): disable directive comment parsing causing hang (#346)
  src/lint.zig
  src/linter/disable_directives/Parser.zig
  src/linter/disable_directives/Parser_test.zig
  src/root.zig
Labels: A-linter

fix(sema): bind payload symbols in while loops
  .vscode/settings.json
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_decl_test.zig
  src/util.zig
  test/snapshots/snapshot-coverage/simple/pass/fibonacci.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/loops_while.zig.snap
Labels: A-semantic, C-test

fix(printer): use writeAll so container tokens aren't dropped on buffer boundary
  src/printer/Printer.zig
  test/snapshots/snapshot-coverage/simple/pass/loops_while.zig.snap
Labels: C-test

.github/labeler.yml:

A-cli:
  - changed-files:
      - any-glob-to-any-file: ["src/cli/**"]

A-linter:
  - changed-files:
      - any-glob-to-any-file: ["src/linter/**", "src/linter.zig"]

A-semantic:
  - changed-files:
      - any-glob-to-any-file: ["src/Semantic/**", "src/Semantic.zig"]

A-reporter:
  - changed-files:
      - any-glob-to-any-file: ["src/reporter/**", "src/reporter.zig"]

C-ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

C-test:
  - changed-files:
      - any-glob-to-any-file: ["test/**"]
