Repository DonIsaac/zlint, changes with the labels that .github/labeler.yml gives for each.
All labels: A-cli, A-linter, A-semantic, A-reporter, C-ci, C-test

.github/labeler.yml:

A-cli:
  - changed-files:
      - any-glob-to-any-file: ["src/cli/**"]

A-linter:
  - changed-files:
      - any-glob-to-any-file: ["src/linter/**", "src/linter.zig"]

A-semantic:
  - changed-files:
      - any-glob-to-any-file: ["src/Semantic/**", "src/Semantic.zig"]

A-reporter:
  - changed-files:
      - any-glob-to-any-file: ["src/reporter/**", "src/reporter.zig"]

C-ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

C-test:
  - changed-files:
      - any-glob-to-any-file: ["test/**"]

fix(release): strip debug info from Linux binaries
  .github/workflows/release.yaml
Labels: C-ci

refactor(test): extract snapshotRelPath from openSnapshotFile
  test/utils.zig
Labels: C-test

fix(reporter): use monotonic loading when updating statistics
  src/linter/LintService.zig
  src/reporter/Reporter.zig
Labels: A-linter, A-reporter

fix
  src/linter/LintService.zig
Labels: A-linter

fix
  src/linter/LintService.zig
Labels: A-linter

feat(cli): add `--config <path>` option
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  test/fixtures/config/custom.json
Labels: A-cli, C-test

fix tests on windows
  src/cli/lint_config.zig
Labels: A-cli

feat(cli): add `--config <path>` option (#424)
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  test/fixtures/config/custom.json
Labels: A-cli, C-test

feat(linter): Perform control flow analysis when rules need it
  Justfile
  apps/site/docs/rules/allocator-first-param.mdx
  apps/site/docs/rules/avoid-as.mdx
  apps/site/docs/rules/case-convention.mdx
  apps/site/docs/rules/duplicate-case.mdx
  apps/site/docs/rules/empty-file.mdx
  apps/site/docs/rules/homeless-try.mdx
  apps/site/docs/rules/line-length.mdx
  apps/site/docs/rules/must-return-ref.mdx
  apps/site/docs/rules/no-catch-return.mdx
  apps/site/docs/rules/no-print.mdx
  apps/site/docs/rules/no-return-try.mdx
  apps/site/docs/rules/no-unresolved.mdx
  apps/site/docs/rules/returned-stack-reference.mdx
  apps/site/docs/rules/suppressed-errors.mdx
  apps/site/docs/rules/unsafe-undefined.mdx
  apps/site/docs/rules/unused-decls.mdx
  apps/site/docs/rules/useless-error-return.mdx
  src/linter/LintService.zig
  src/linter/RuleSet.zig
  src/linter/lint_context.zig
  src/linter/rule.zig
  src/linter/test/lint_context_test.zig
  src/linter/tester.zig
Labels: A-linter

feat(linter): Perform control flow analysis when rules need it (#425)
  Justfile
  apps/site/docs/rules/allocator-first-param.mdx
  apps/site/docs/rules/avoid-as.mdx
  apps/site/docs/rules/case-convention.mdx
  apps/site/docs/rules/duplicate-case.mdx
  apps/site/docs/rules/empty-file.mdx
  apps/site/docs/rules/homeless-try.mdx
  apps/site/docs/rules/line-length.mdx
  apps/site/docs/rules/must-return-ref.mdx
  apps/site/docs/rules/no-catch-return.mdx
  apps/site/docs/rules/no-print.mdx
  apps/site/docs/rules/no-return-try.mdx
  apps/site/docs/rules/no-unresolved.mdx
  apps/site/docs/rules/returned-stack-reference.mdx
  apps/site/docs/rules/suppressed-errors.mdx
  apps/site/docs/rules/unsafe-undefined.mdx
  apps/site/docs/rules/unused-decls.mdx
  apps/site/docs/rules/useless-error-return.mdx
  src/linter/LintService.zig
  src/linter/RuleSet.zig
  src/linter/lint_context.zig
  src/linter/rule.zig
  src/linter/test/lint_context_test.zig
  src/linter/tester.zig
Labels: A-linter

test(cli): set up cli test boilerplate + file fixture
  AGENTS.md
  src/cli/lint_command.zig
  src/cli/test/Fixture.zig
  src/cli/test/lint_command_test.zig
Labels: A-cli

test: add test cases
  src/cli/lint_command.zig
  src/cli/test/Fixture.zig
  src/cli/test/lint_command_test.zig
Labels: A-cli

fix
  .github/workflows/codecov.yaml
  Justfile
  src/cli/test/lint_command_test.zig
Labels: A-cli, C-ci

test readUntilDelimiterOrEof
  src/cli/lint_command.zig
Labels: A-cli

test(cli): test lint command inclusion/exclusion behavior (#426)
  .github/workflows/codecov.yaml
  AGENTS.md
  Justfile
  src/cli/lint_command.zig
  src/cli/test/Fixture.zig
  src/cli/test/lint_command_test.zig
Labels: A-cli, C-ci

refactor(linter): add disable directives builder
  src/linter/disable_directives.zig
  src/linter/disable_directives/Builder.zig
  src/linter/disable_directives/Comment.zig
  src/linter/disable_directives/Parser.zig
  src/linter/disable_directives/Parser_test.zig
  src/linter/linter.zig
Labels: A-linter

feat(config)!: `ignore` supports glob patterns
  apps/site/docs/configuration/ignore.md
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/cli/test/lint_command_test.zig
  src/io/GlobSet.zig
  src/io/Walker.zig
  src/io/glob.zig
  src/linter/Config.zig
  src/main.zig
  src/root.zig
  zlint.schema.json
Labels: A-cli, A-linter

fix(config): parse `ignore` globs mid-document
  src/cli/lint_config.zig
  src/io/GlobSet.zig
  test/fixtures/config-ignore/zlint.json
Labels: A-cli, C-test

feat(glob): GlobSet supports pattern negation
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/io/GlobSet.zig
Labels: A-cli

refactor(linter): remove duplicate rule config files
  src/linter/Config.zig
  src/linter/RuleSet.zig
  src/linter/config/RulesConfig.zig
  src/linter/config/rule_config.zig
  src/linter/config/rules_config.zig
  zlint.schema.json
Labels: A-linter

feat(config): config extension and resolution
  CLAUDE.md
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/cli/test/lint_command_test.zig
  src/json.zig
  src/linter/Config.zig
  src/linter/LintService.zig
  src/linter/config/File.zig
  src/linter/config/Rules.zig
  src/linter/config/RulesConfig.zig
  src/linter/config/rule_config.zig
  src/linter/linter.zig
  src/linter/test/disabling_rules_test.zig
  tasks/confgen.zig
  zlint.schema.json
Labels: A-cli, A-linter

feat(config)!: `ignore` supports glob patterns (#357)
  apps/site/docs/configuration/ignore.md
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/cli/test/lint_command_test.zig
  src/io/GlobSet.zig
  src/io/Walker.zig
  src/io/glob.zig
  src/linter/Config.zig
  src/main.zig
  src/root.zig
  test/fixtures/config-ignore/zlint.json
  zlint.schema.json
Labels: A-cli, A-linter, C-test

feat(glob): GlobSet supports pattern negation
  apps/site/docs/configuration/ignore.md
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/cli/test/lint_command_test.zig
  src/io/GlobSet.zig
  src/linter/Config.zig
  zlint.schema.json
Labels: A-cli, A-linter

feat(glob): GlobSet supports pattern negation (#380)
  apps/site/docs/configuration/ignore.md
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/cli/test/lint_command_test.zig
  src/io/GlobSet.zig
  src/linter/Config.zig
  zlint.schema.json
Labels: A-cli, A-linter

refactor(linter): remove duplicate rule config files
  src/linter/Config.zig
  src/linter/RuleSet.zig
  src/linter/config/RulesConfig.zig
  src/linter/config/rule_config.zig
  src/linter/config/rules_config.zig
  zlint.schema.json
Labels: A-linter

feat(config): config extension and resolution
  CLAUDE.md
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/cli/test/lint_command_test.zig
  src/json.zig
  src/linter/Config.zig
  src/linter/LintService.zig
  src/linter/config/File.zig
  src/linter/config/Rules.zig
  src/linter/config/RulesConfig.zig
  src/linter/config/rule_config.zig
  src/linter/linter.zig
  src/linter/test/disabling_rules_test.zig
  tasks/confgen.zig
  zlint.schema.json
Labels: A-cli, A-linter

refactor: simplify config reading and resolution
  src/cli/lint/config.zig
  src/cli/lint_command.zig
Labels: A-cli

finish refactor
  src/cli/lint/config.zig
  src/cli/lint/gitignore.zig
  src/cli/lint/gitignore_test.zig
  src/cli/lint_command.zig
  src/cli/test/lint_command_test.zig
  src/io/fs.zig
  src/io/parent_iterator.zig
  src/main.zig
  src/root.zig
Labels: A-cli

cleanup
  src/cli/lint/config.zig
  src/cli/lint/gitignore_test.zig
  src/io/parent_iterator.zig
Labels: A-cli

refactor: simplify config reading and resolution (#428)
  src/cli/lint/config.zig
  src/cli/lint/gitignore.zig
  src/cli/lint/gitignore_test.zig
  src/cli/lint_command.zig
  src/cli/test/lint_command_test.zig
  src/io/fs.zig
  src/io/parent_iterator.zig
  src/main.zig
  src/root.zig
Labels: A-cli

fix(cli)treat named arguments as file/folder paths
  src/cli/lint/visitor.zig
  src/cli/lint_command.zig
  src/cli/test/lint_command_test.zig
  src/io/Walker.zig
  src/linter/LintService.zig
  src/util.zig
Labels: A-cli, A-linter

fix(cli)!: treat named arguments as file/folder paths (#429)
  src/cli/lint/visitor.zig
  src/cli/lint_command.zig
  src/cli/test/lint_command_test.zig
  src/io/Walker.zig
  src/linter/LintService.zig
  src/util.zig
Labels: A-cli, A-linter

up(lint)\!: zlint.json does not default to empty rule set
  src/cli/lint/config.zig
  src/cli/lint/gitignore_test.zig
  src/cli/test/lint_command_test.zig
  src/linter/Config.zig
  src/linter/config/rules_config.zig
  src/linter/test/disabling_rules_test.zig
Labels: A-cli, A-linter

up(lint)!: zlint.json does not default to empty rule set (#430)
  src/cli/lint/config.zig
  src/cli/lint/gitignore_test.zig
  src/cli/test/lint_command_test.zig
  src/linter/Config.zig
  src/linter/config/rules_config.zig
  src/linter/test/disabling_rules_test.zig
Labels: A-cli, A-linter

update docs
  apps/site/docs/configuration/index.md
Labels: none

fixes
  .github/workflows/js.yaml
  .prettierignore
Labels: C-ci

chore: v0.10.0
  apps/site/blog/2026-09-16-zlint-v0-10-0.md
  apps/site/blog/authors.yml
  apps/site/blog/index.md
  apps/site/blog/tags.yml
  build.zig.zon
Labels: none

fmt
  apps/site/blog/2026-09-16-zlint-v0-10-0.md
Labels: none

chore: v0.10.0 (#432)
  apps/site/blog/2026-09-16-zlint-v0-10-0.md
  apps/site/blog/authors.yml
  apps/site/blog/index.md
  apps/site/blog/tags.yml
  build.zig.zon
Labels: none
