Repository DonIsaac/zlint, changes with the labels that .github/labeler.yml gives for each.
All labels: A-cli, A-linter, A-semantic, A-reporter, C-ci, C-test

.github/labeler.yml:

A-cli:
  - changed-files:
      - any-glob-to-any-file: ["src/cli/**"]

A-linter:
  - changed-files:
      - any-glob-to-any-file: ["src/linter/**", "src/linter.zig"]

A-semantic:
  - changed-files:
      - any-glob-to-any-file: ["src/Semantic/**", "src/Semantic.zig"]

A-reporter:
  - changed-files:
      - any-glob-to-any-file: ["src/reporter/**", "src/reporter.zig"]

C-ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

C-test:
  - changed-files:
      - any-glob-to-any-file: ["test/**"]

i hate ignorecase = false
  src/semantic/ModuleRecord.zig
  src/semantic/NodeLinks.zig
  src/semantic/Parse.zig
  src/semantic/Reference.zig
  src/semantic/Scope.zig
  src/semantic/SemanticBuilder.zig
  src/semantic/Symbol.zig
  src/semantic/ast.zig
  src/semantic/builtins.zig
  src/semantic/test/members_and_exports_test.zig
  src/semantic/test/modules_test.zig
  src/semantic/test/scope_flags_test.zig
  src/semantic/test/scopes_test.zig
  src/semantic/test/symbol_decl_test.zig
  src/semantic/test/symbol_ref_test.zig
  src/semantic/test/util.zig
  src/semantic/tokenizer.zig
Labels: none

fix: i hate git `ignorecase = true` (#313)
  src/semantic/ModuleRecord.zig
  src/semantic/NodeLinks.zig
  src/semantic/Parse.zig
  src/semantic/Reference.zig
  src/semantic/Scope.zig
  src/semantic/SemanticBuilder.zig
  src/semantic/Symbol.zig
  src/semantic/ast.zig
  src/semantic/builtins.zig
  src/semantic/test/members_and_exports_test.zig
  src/semantic/test/modules_test.zig
  src/semantic/test/scope_flags_test.zig
  src/semantic/test/scopes_test.zig
  src/semantic/test/symbol_decl_test.zig
  src/semantic/test/symbol_ref_test.zig
  src/semantic/test/util.zig
  src/semantic/tokenizer.zig
Labels: none

chore: run `zlint --fix`
  src/Semantic/test/members_and_exports_test.zig
  src/Semantic/test/scopes_test.zig
  src/cli/test/print_ast_test.zig
  src/linter/fix.zig
  src/linter/rules/allocator_first_param.zig
  src/linter/rules/case_convention.zig
  src/linter/rules/empty_file.zig
  src/linter/rules/line_length.zig
  src/linter/rules/returned_stack_reference.zig
  src/reporter/formatters/JSONFormatter.zig
  tasks/confgen.zig
  tasks/docgen.zig
  tasks/gen_utils.zig
Labels: A-cli, A-linter, A-semantic, A-reporter

fmt
  src/cli/test/print_ast_test.zig
Labels: A-cli

chore: run zlint --fix (#314)
  src/Semantic/test/members_and_exports_test.zig
  src/Semantic/test/scopes_test.zig
  src/cli/test/print_ast_test.zig
  src/linter/fix.zig
  src/linter/rules/allocator_first_param.zig
  src/linter/rules/case_convention.zig
  src/linter/rules/empty_file.zig
  src/linter/rules/line_length.zig
  src/linter/rules/returned_stack_reference.zig
  src/reporter/formatters/JSONFormatter.zig
  tasks/confgen.zig
  tasks/docgen.zig
  tasks/gen_utils.zig
Labels: A-cli, A-linter, A-semantic, A-reporter

fix string leaks, remove dst and use static transfer global instead
  apps/site/static/js/worker.js
  src/root_wasm.zig
Labels: none

fix bad length on result free
  apps/site/static/js/worker.js
  src/root_wasm.zig
Labels: none

feat(linter/case-convention): check fn params
  apps/site/docs/rules/case-convention.mdx
  src/linter/rules/case_convention.zig
  src/linter/rules/snapshots/case-convention.snap
  zlint.schema.json
Labels: A-linter

fix(linter/case-convention): do not report extern functions
  apps/site/docs/rules/case-convention.mdx
  src/linter/rules/case_convention.zig
  zlint.schema.json
Labels: A-linter

fix leak in playground wasm interop (#315)
  apps/site/static/js/worker.js
  src/root_wasm.zig
Labels: none

fix(linter/case-convention): do not report extern functions (#316)
  apps/site/docs/rules/case-convention.mdx
  src/linter/rules/case_convention.zig
  zlint.schema.json
Labels: A-linter

refactor: move codegen tasks to separate file
  .prettierignore
  .vscode/tasks.json
  Justfile
  apps/site/package.json
  build.zig
  package.json
  tasks/codegen_task.zig
  tasks/confgen.zig
  tasks/constants.zig
  tasks/docgen.zig
  tasks/gen_utils.zig
Labels: none

finish it up
  .github/workflows/ci.yaml
  Justfile
  apps/site/docs/rules/allocator-first-param.mdx
  apps/site/docs/rules/avoid-as.mdx
  apps/site/docs/rules/case-convention.mdx
  apps/site/docs/rules/empty-file.mdx
  apps/site/docs/rules/homeless-try.mdx
  apps/site/docs/rules/line-length.mdx
  apps/site/docs/rules/must-return-ref.mdx
  apps/site/docs/rules/no-catch-return.mdx
  apps/site/docs/rules/no-return-try.mdx
  apps/site/docs/rules/no-unresolved.mdx
  apps/site/docs/rules/returned-stack-reference.mdx
  apps/site/docs/rules/suppressed-errors.mdx
  apps/site/docs/rules/unsafe-undefined.mdx
  apps/site/docs/rules/unused-decls.mdx
  apps/site/docs/rules/useless-error-return.mdx
  build.zig
  package.json
  tasks/codegen_task.zig
Labels: C-ci

update bun.lock
  bun.lock
Labels: none

fix
  .github/workflows/ci.yaml
  tasks/gen_utils.zig
Labels: C-ci

install prettier
  bun.lock
  package.json
Labels: none

fix unsafe-undefined docs
  apps/site/docs/rules/unsafe-undefined.mdx
  src/linter/rules/unsafe_undefined.zig
  zlint.schema.json
Labels: A-linter

refactor(build): move codegen tasks to separate file (#317)
  .github/workflows/ci.yaml
  .prettierignore
  .vscode/tasks.json
  Justfile
  apps/site/docs/rules/allocator-first-param.mdx
  apps/site/docs/rules/avoid-as.mdx
  apps/site/docs/rules/case-convention.mdx
  apps/site/docs/rules/empty-file.mdx
  apps/site/docs/rules/homeless-try.mdx
  apps/site/docs/rules/line-length.mdx
  apps/site/docs/rules/must-return-ref.mdx
  apps/site/docs/rules/no-catch-return.mdx
  apps/site/docs/rules/no-return-try.mdx
  apps/site/docs/rules/no-unresolved.mdx
  apps/site/docs/rules/returned-stack-reference.mdx
  apps/site/docs/rules/suppressed-errors.mdx
  apps/site/docs/rules/unsafe-undefined.mdx
  apps/site/docs/rules/unused-decls.mdx
  apps/site/docs/rules/useless-error-return.mdx
  apps/site/package.json
  build.zig
  bun.lock
  package.json
  src/linter/rules/unsafe_undefined.zig
  tasks/codegen_task.zig
  tasks/confgen.zig
  tasks/constants.zig
  tasks/docgen.zig
  tasks/gen_utils.zig
  zlint.schema.json
Labels: A-linter, C-ci

feat(linter): add `no-print` rule
  apps/site/docs/rules/no-print.mdx
  src/linter/config/rules_config.zig
  src/linter/rules.zig
  src/linter/rules/no_print.zig
  src/linter/rules/snapshots/no-print.snap
  tasks/new-rule.ts
  zlint.schema.json
Labels: A-linter

feat(linter): add `no-print` rule (#318)
  apps/site/docs/rules/no-print.mdx
  src/linter/config/rules_config.zig
  src/linter/rules.zig
  src/linter/rules/no_print.zig
  src/linter/rules/snapshots/no-print.snap
  tasks/new-rule.ts
  zlint.schema.json
Labels: A-linter

feat(docs): better rules index page
  .vscode/tasks.json
  apps/site/README.md
  apps/site/docs/rules/RulesPage.module.css
  apps/site/docs/rules/RulesPage.tsx
  apps/site/docs/rules/_category_.json
  apps/site/docs/rules/allocator-first-param.mdx
  apps/site/docs/rules/avoid-as.mdx
  apps/site/docs/rules/case-convention.mdx
  apps/site/docs/rules/empty-file.mdx
  apps/site/docs/rules/homeless-try.mdx
  apps/site/docs/rules/index.mdx
  apps/site/docs/rules/line-length.mdx
  apps/site/docs/rules/must-return-ref.mdx
  apps/site/docs/rules/no-catch-return.mdx
  apps/site/docs/rules/no-print.mdx
  apps/site/docs/rules/no-return-try.mdx
  apps/site/docs/rules/no-unresolved.mdx
  apps/site/docs/rules/returned-stack-reference.mdx
  apps/site/docs/rules/suppressed-errors.mdx
  apps/site/docs/rules/unsafe-undefined.mdx
  apps/site/docs/rules/unused-decls.mdx
  apps/site/docs/rules/useless-error-return.mdx
  apps/site/docusaurus.config.ts
  apps/site/src/components/Row.module.css
  apps/site/src/components/Row.tsx
  apps/site/src/css/custom.css
  apps/site/src/types.ts
  tasks/docgen.zig
Labels: none

fix types
  apps/site/docusaurus.config.ts
Labels: none

lint fix
  apps/site/docusaurus.config.ts
Labels: none

styles
  apps/site/docs/rules/RulesPage.module.css
  apps/site/docs/rules/RulesPage.tsx
Labels: none

fix docs step?
  build.zig
Labels: none

wip
  build.zig
Labels: none

a
  apps/site/docusaurus.config.ts
Labels: none

feat(docs): better rules index page (#319)
  .vscode/tasks.json
  apps/site/README.md
  apps/site/docs/rules/RulesPage.module.css
  apps/site/docs/rules/RulesPage.tsx
  apps/site/docs/rules/_category_.json
  apps/site/docs/rules/allocator-first-param.mdx
  apps/site/docs/rules/avoid-as.mdx
  apps/site/docs/rules/case-convention.mdx
  apps/site/docs/rules/empty-file.mdx
  apps/site/docs/rules/homeless-try.mdx
  apps/site/docs/rules/index.mdx
  apps/site/docs/rules/line-length.mdx
  apps/site/docs/rules/must-return-ref.mdx
  apps/site/docs/rules/no-catch-return.mdx
  apps/site/docs/rules/no-print.mdx
  apps/site/docs/rules/no-return-try.mdx
  apps/site/docs/rules/no-unresolved.mdx
  apps/site/docs/rules/returned-stack-reference.mdx
  apps/site/docs/rules/suppressed-errors.mdx
  apps/site/docs/rules/unsafe-undefined.mdx
  apps/site/docs/rules/unused-decls.mdx
  apps/site/docs/rules/useless-error-return.mdx
  apps/site/docusaurus.config.ts
  apps/site/src/components/Row.module.css
  apps/site/src/components/Row.tsx
  apps/site/src/css/custom.css
  apps/site/src/types.ts
  build.zig
  tasks/docgen.zig
Labels: none

fix(docs): make rule cards into links
  apps/site/docs/rules/RulesPage.module.css
  apps/site/docs/rules/RulesPage.tsx
Labels: none

use md, fix colors
  apps/site/docs/rules/RulesPage.module.css
  apps/site/docs/rules/RulesPage.tsx
  apps/site/docusaurus.config.ts
  apps/site/package.json
  apps/site/sidebars.ts
  bun.lock
  package.json
Labels: none

Deploy website - based on 1ebc4d27208c119408a4244d789b230235315c39
  404.html
  assets/js/2dd787d7.19ad9660.js
  assets/js/2dd787d7.470e2d23.js
  assets/js/3fbfdaff.22b11326.js
  assets/js/3fbfdaff.d94d6ba6.js
  assets/js/main.8ea2e7bf.js
  assets/js/main.8ea2e7bf.js.LICENSE.txt
  assets/js/main.9d7ffd93.js
  assets/js/runtime~main.50af1c8e.js
  assets/js/runtime~main.c4bdc2bc.js
  blog.html
  blog/archive.html
  blog/authors.html
  blog/authors/don.html
  blog/index.html
  docs/configuration.html
  docs/configuration/ignore.html
  docs/contributing.html
  docs/contributing/creating-rules.html
  docs/getting-started.html
  docs/installation.html
  docs/rules.html
  docs/rules/allocator-first-param.html
  docs/rules/avoid-as.html
  docs/rules/case-convention.html
  docs/rules/empty-file.html
  docs/rules/homeless-try.html
  docs/rules/line-length.html
  docs/rules/must-return-ref.html
  docs/rules/no-catch-return.html
  docs/rules/no-print.html
  docs/rules/no-return-try.html
  docs/rules/no-unresolved.html
  docs/rules/returned-stack-reference.html
  docs/rules/suppressed-errors.html
  docs/rules/unsafe-undefined.html
  docs/rules/unused-decls.html
  docs/rules/useless-error-return.html
  index.html
Labels: none

ci: disable gh pages deploy for now
  .github/workflows/gh-pages.yaml
  apps/site/docs/rules/RulesPage.module.css
Labels: C-ci

feat(linter): add `duplicate-case` rule
  .vscode/settings.json
  apps/site/docs/rules/duplicate-case.mdx
  src/linter/config/rules_config.zig
  src/linter/rules.zig
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  src/visit/AstComparator.zig
  switch.zig
  zlint.schema.json
Labels: A-linter

cleanup
  switch.zig
Labels: none

change category to suspicious
  apps/site/docs/rules/duplicate-case.mdx
  src/linter/rules/duplicate_case.zig
Labels: A-linter

better tests
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
Labels: A-linter

more tests
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
Labels: A-linter

add `"tasks"` to `.paths`
  build.zig.zon
Labels: none

Support being used as a dependency (#322)
  build.zig.zon
Labels: none

feat: handle comparing field access expressions
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  src/visit/AstComparator.zig
Labels: A-linter
