Repository DonIsaac/zlint, changes with the labels that .github/labeler.yml gives for each.
All labels: A-cli, A-linter, A-semantic, A-reporter, C-ci, C-test

if statements
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  src/visit/AstComparator.zig
Labels: A-linter

tests
  apps/site/docs/rules/duplicate-case.mdx
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  zlint.schema.json
Labels: A-linter

returns and var decls
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  src/visit/AstComparator.zig
Labels: A-linter

typo
  src/visit/AstComparator.zig
Labels: none

feat(linter): add `duplicate-case` rule (#320)
  .vscode/settings.json
  apps/site/docs/rules/duplicate-case.mdx
  src/linter/config/rules_config.zig
  src/linter/rules.zig
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  src/visit/AstComparator.zig
  zlint.schema.json
Labels: A-linter

perf: avoid re-tokenizing when comparing token slices
  src/linter/rules/duplicate_case.zig
  src/visit/AstComparator.zig
Labels: A-linter

up: support comparison of more operator nodes
  src/visit/AstComparator.zig
Labels: none

chore: fix installs after bun 1.3 upgrade
  apps/site/package.json
  bun.lock
  package.json
Labels: none

chore: fix installs after bun 1.3 upgrade (#326)
  apps/site/package.json
  bun.lock
  package.json
Labels: none

typos
  src/visit/AstComparator.zig
Labels: none

migrate build.zig
  .vscode/settings.json
  build.zig
  build.zig.zon
  tasks/codegen_task.zig
Labels: none

fix: bitflags and its tests
  src/Semantic/Reference.zig
  src/util/bitflags.zig
  src/util/bitflags_test.zig
Labels: A-semantic

refactor: remove 'usingnamespace' from rules config
  src/cli/lint_config.zig
  src/linter/Config.zig
  src/linter/RuleSet.zig
  src/linter/config/rules_config.methods.zig
  src/linter/config/rules_config.zig
  src/linter/config/rules_config_rules.zig
  src/linter/test/disabling_rules_test.zig
  tasks/codegen_task.zig
  tasks/confgen.zig
  tasks/constants.zig
  tasks/gen_utils.zig
Labels: A-cli, A-linter

rename
  docs/rules/unsafe-undefined.md
  src/linter/config/Rules.zig
  src/linter/config/rules_config.zig
  src/reporter/Reporter.zig
  tasks/codegen_task.zig
  tasks/confgen.zig
  tasks/constants.zig
Labels: A-linter, A-reporter

fix
  src/linter/config/Rules.zig
Labels: A-linter

refactor: remove 'usingnamespace' from rules config (#328)
  docs/rules/unsafe-undefined.md
  src/cli/lint_config.zig
  src/linter/Config.zig
  src/linter/RuleSet.zig
  src/linter/config/Rules.zig
  src/linter/config/rules_config.methods.zig
  src/linter/config/rules_config.zig
  src/linter/config/rules_config_rules.zig
  src/linter/test/disabling_rules_test.zig
  src/reporter/Reporter.zig
  tasks/codegen_task.zig
  tasks/confgen.zig
  tasks/constants.zig
  tasks/gen_utils.zig
Labels: A-cli, A-linter, A-reporter

wip: writer rework
  src/Semantic/Scope.zig
  src/Semantic/Symbol.zig
  src/printer/Printer.zig
  src/reporter/Reporter.zig
  src/reporter/StringWriter.zig
  test/harness/TestSuite.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
Labels: A-semantic, A-reporter, C-test

refactor(util): avoid usingnamespace in Bitflags
  src/Semantic/Reference.zig
  src/Semantic/Scope.zig
  src/Semantic/Symbol.zig
  src/util/bitflags.zig
  src/util/bitflags_test.zig
Labels: A-semantic

refactor(util): avoid usingnamespace in Bitflags (#329)
  src/Semantic/Reference.zig
  src/Semantic/Scope.zig
  src/Semantic/Symbol.zig
  src/util/bitflags.zig
  src/util/bitflags_test.zig
Labels: A-semantic

refactor: copy 0.14.1 parser from zig std
  src/Semantic.zig
  src/Semantic/Parse.zig
  src/Semantic/ast.zig
  src/Semantic/tokenizer.zig
  src/linter/lint_context.zig
  src/linter/rules/allocator_first_param.zig
  src/linter/rules/avoid_as.zig
  src/linter/rules/case_convention.zig
  src/linter/rules/duplicate_case.zig
  src/linter/rules/homeless_try.zig
  src/linter/rules/must_return_ref.zig
  src/linter/rules/no_catch_return.zig
  src/linter/rules/no_print.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/no_unresolved.zig
  src/linter/rules/returned_stack_reference.zig
  src/linter/rules/suppressed_errors.zig
  src/linter/rules/unsafe_undefined.zig
  src/linter/rules/useless_error_return.zig
  src/printer/AstPrinter.zig
  src/printer/Printer.zig
  src/printer/SemanticPrinter.zig
  src/root.zig
  src/source.zig
  src/span.zig
  src/visit/walk.zig
  src/visit/walk_test.zig
  src/zig.zig
  src/zig/0.14.1/Ast.zig
  src/zig/0.14.1/Parse.zig
  src/zig/0.14.1/primitives.zig
  src/zig/0.14.1/render.zig
  src/zig/0.14.1/string_literal.zig
  src/zig/0.14.1/tokenizer.zig
Labels: A-linter, A-semantic

license
  src/zig.zig
  src/zig/0.14.1/LICENSE
Labels: none

update typos.toml
  .typos.toml
Labels: none

refactor: copy 0.14.1 parser from zig std (#330)
  .typos.toml
  src/Semantic.zig
  src/Semantic/Parse.zig
  src/Semantic/ast.zig
  src/Semantic/tokenizer.zig
  src/linter/lint_context.zig
  src/linter/rules/allocator_first_param.zig
  src/linter/rules/avoid_as.zig
  src/linter/rules/case_convention.zig
  src/linter/rules/duplicate_case.zig
  src/linter/rules/homeless_try.zig
  src/linter/rules/must_return_ref.zig
  src/linter/rules/no_catch_return.zig
  src/linter/rules/no_print.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/no_unresolved.zig
  src/linter/rules/returned_stack_reference.zig
  src/linter/rules/suppressed_errors.zig
  src/linter/rules/unsafe_undefined.zig
  src/linter/rules/useless_error_return.zig
  src/printer/AstPrinter.zig
  src/printer/Printer.zig
  src/printer/SemanticPrinter.zig
  src/root.zig
  src/source.zig
  src/span.zig
  src/visit/walk.zig
  src/visit/walk_test.zig
  src/zig.zig
  src/zig/0.14.1/Ast.zig
  src/zig/0.14.1/LICENSE
  src/zig/0.14.1/Parse.zig
  src/zig/0.14.1/primitives.zig
  src/zig/0.14.1/render.zig
  src/zig/0.14.1/string_literal.zig
  src/zig/0.14.1/tokenizer.zig
Labels: A-linter, A-semantic

fix: copy fmtEscapes from v0.14
  src/zig.zig
  src/zig/0.14.1/Ast.zig
  src/zig/0.14.1/render.zig
Labels: none

wip
  .typos.toml
  build.zig
  build.zig.zon
  src/Semantic/SemanticBuilder.zig
  src/printer/Printer.zig
  src/reporter/Reporter.zig
  src/source.zig
  src/util.zig
  src/visit/walk.zig
  src/zig.zig
  src/zig/0.14.1/Ast.zig
  src/zig/0.14.1/Parse.zig
  src/zig/0.14.1/render.zig
  tasks/codegen_task.zig
Labels: A-semantic, A-reporter

wip
  apps/site/docs/rules/must-return-ref.mdx
  docs/rules/must-return-ref.md
  src/Semantic/test/util.zig
  src/cli/test/print_ast_test.zig
  src/linter/LintService.zig
  src/linter/fix.zig
  src/linter/lint_context.zig
  src/linter/linter.zig
  src/linter/rules/homeless_try.zig
  src/linter/rules/must_return_ref.zig
  src/linter/rules/snapshots/homeless-try.snap
  src/linter/rules/useless_error_return.zig
  src/printer/Printer.zig
  src/printer/SemanticPrinter.zig
  src/reporter/Reporter.zig
  src/reporter/StringWriter.zig
  src/reporter/formatters/GithubFormatter.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/reporter/formatters/JSONFormatter.zig
  src/util/bitflags_test.zig
  src/util/cow.zig
  src/visit/walk.zig
  src/zig.zig
  src/zig/0.14.1/Ast.zig
  src/zig/0.14.1/render.zig
  src/zig/0.14.1/string_literal.zig
  tasks/confgen.zig
  tasks/docgen.zig
  tasks/gen_utils.zig
  test/harness/TestSuite.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
  zlint.schema.json
Labels: A-cli, A-linter, A-semantic, A-reporter, C-test

wip
  build.zig
  src/printer/Printer.zig
  src/zig/0.14.1/Ast.zig
  src/zig/0.14.1/string_literal.zig
  tasks/confgen.zig
  tasks/docgen.zig
Labels: none

wip
  build.zig
  src/Error.zig
  src/Semantic/test/util.zig
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/cli/print_command.zig
  src/linter/LintService.zig
  src/linter/rules/homeless_try.zig
  src/linter/rules/suppressed_errors.zig
  src/linter/tester.zig
  src/main.zig
  src/reporter/Reporter.zig
  src/reporter/StringWriter.zig
  src/reporter/formatter.zig
  src/reporter/formatters/GithubFormatter.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/reporter/formatters/JSONFormatter.zig
  src/util/bitflags.zig
  src/util/bitflags_test.zig
  src/util/cow.zig
  src/zig.zig
  src/zig/0.14.1/render.zig
  test/semantic/snapshot_coverage.zig
Labels: A-cli, A-linter, A-semantic, A-reporter, C-test

wip
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/reporter/formatters/GithubFormatter.zig
Labels: A-cli, A-reporter

wip
  src/cli/lint_command.zig
  src/main.zig
  src/printer/Printer.zig
  src/util/cow.zig
  src/zig/0.14.1/string_literal.zig
Labels: A-cli

wip
  build.zig
  src/Semantic/test/util.zig
  src/cli/lint_command.zig
  src/cli/print_command.zig
  src/linter/tester.zig
  src/reporter/Reporter.zig
  src/root.zig
  src/util/bitflags.zig
  src/util/cow.zig
  src/zig.zig
  tasks/confgen.zig
  test/harness/TestSuite.zig
  test/semantic/snapshot_coverage.zig
Labels: A-cli, A-linter, A-semantic, A-reporter, C-test

wip
  src/linter/rules/must_return_ref.zig
  src/linter/rules/snapshots/must-return-ref.snap
  src/linter/tester.zig
Labels: A-linter

bump zig version in ci
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/codecov.yaml
  .github/workflows/release.yaml
Labels: C-ci

fix: pass writer by reference to avoid reading invalid memory
  src/cli/print_command.zig
  src/printer/Printer.zig
  test/harness/TestSuite.zig
  test/semantic/snapshot_coverage.zig
Labels: A-cli, C-test

fix diagnostic formatting in homeless_try
  src/linter/rules/homeless_try.zig
Labels: A-linter

fix docgen
  build.zig
  tasks/docgen.zig
Labels: none

fix confgen
  tasks/confgen.zig
Labels: none

fix: report summary printing
  src/cli/lint_command.zig
Labels: A-cli

docgen fixes
  build.zig
  tasks/confgen.zig
Labels: none

fix: buffer clobbering when reading files from stdin
  src/cli/lint_command.zig
Labels: A-cli

.github/labeler.yml:

A-cli:
  - changed-files:
      - any-glob-to-any-file: ["src/cli/**"]

A-linter:
  - changed-files:
      - any-glob-to-any-file: ["src/linter/**", "src/linter.zig"]

A-semantic:
  - changed-files:
      - any-glob-to-any-file: ["src/Semantic/**", "src/Semantic.zig"]

A-reporter:
  - changed-files:
      - any-glob-to-any-file: ["src/reporter/**", "src/reporter.zig"]

C-ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

C-test:
  - changed-files:
      - any-glob-to-any-file: ["test/**"]
