Repository DonIsaac/zlint, changes with the labels that .github/labeler.yml gives for each.
All labels: A-cli, A-linter, A-semantic, A-reporter, C-ci, C-test

perf(parse): dont tokenize twice (#408)
  src/Semantic/Parse.zig
  src/Semantic/tokenizer.zig
Labels: A-semantic

write doc on adding custom rules
  apps/site/docs/configuration/custom-rules.md
Labels: none

fix old references to dead files and build rules
  .cursor/skills/zlint-new-rule/SKILL.md
  .github/workflows/ci.yaml
  AGENTS.md
  Justfile
  apps/site/docs/contributing/creating-rules.md
  build.zig
  tasks/new-rule.ts
Labels: C-ci

add example and notes on API to custom rules doc
  apps/site/docs/configuration/custom-rules.md
Labels: none

move custom rule API behind linter namespace
  src/root.zig
Labels: none

fixing while working on custom rule tests
  apps/site/docs/configuration/custom-rules.md
  build.zig
Labels: none

use sentence case in custom rules doc and fix TODO by linking to it
  apps/site/docs/configuration/custom-rules.md
  build.zig
Labels: none

use fan out step over per-rule binary which claude suggested but I think sucks, will try to fix
  build.zig
Labels: none

seems due to not running tests outside of root module, this is a good first try, so renaming the external API to be obviously a run step
  apps/site/docs/configuration/custom-rules.md
  build.zig
Labels: none

minor correction in AGENTS.md
  AGENTS.md
Labels: none

keep Rules.zig, nuke rules_config_rules.zig. Much better name. Also minor wording tweak
  src/linter/config/Rules.zig
  src/linter/config/rules_config.zig
  tasks/codegen_task.zig
Labels: A-linter

remove gratuitous documentation
  tasks/new-rule.ts
Labels: none

rename all_rules to builtin_rules in codegen tasks since custom rules don't exist there
  tasks/confgen.zig
  tasks/docgen.zig
  tasks/gen_utils.zig
Labels: none

Custom rules as build option (#411)
  .cursor/skills/zlint-new-rule/SKILL.md
  .github/workflows/ci.yaml
  AGENTS.md
  Justfile
  apps/site/docs/configuration/custom-rules.md
  apps/site/docs/contributing/creating-rules.md
  build.zig
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/cli/print_command.zig
  src/cli/test/print_ast_test.zig
  src/lint.zig
  src/linter/Config.zig
  src/linter/RuleSet.zig
  src/linter/all_rules.zig
  src/linter/builtin_rules.zig
  src/linter/config/Rules.zig
  src/linter/config/rules_config.zig
  src/linter/config/rules_config_rules.zig
  src/linter/rule.zig
  src/main.zig
  src/root.zig
  tasks/codegen_task.zig
  tasks/confgen.zig
  tasks/constants.zig
  tasks/docgen.zig
  tasks/gen_utils.zig
  tasks/new-rule.ts
Labels: A-cli, A-linter, C-ci

some cleanup
  src/cli/update/StagedExecutable.zig
  src/cli/update/release.zig
  src/cli/update_command.zig
Labels: A-cli

feat(cli): add self-update command
  README.md
  apps/site/docs/installation.md
  src/cli/Options.zig
  src/cli/update/Client.zig
  src/cli/update/StagedExecutable.zig
  src/cli/update/release.zig
  src/cli/update/windows_handoff.ps1
  src/cli/update_command.zig
  src/main.zig
Labels: A-cli

address review comments
  src/cli/update/Client.zig
  src/cli/update/release.zig
  src/cli/update/windows_handoff.ps1
  src/cli/update_command.zig
Labels: A-cli

fix(cli): anchor windows handoff paths to absolute
  src/cli/update/StagedExecutable.zig
  src/cli/update/windows_handoff.ps1
Labels: A-cli

more fixes
  src/cli/update/Client.zig
  src/cli/update/StagedExecutable.zig
  src/cli/update/release.zig
  src/cli/update/windows_handoff.ps1
  src/cli/update_command.zig
Labels: A-cli

fix(cli): pass a real null to File.Replace
  src/cli/update/windows_handoff.ps1
Labels: A-cli

feat(cli): add zlint self-update command (#414)
  README.md
  apps/site/docs/installation.md
  src/cli/Options.zig
  src/cli/update/Client.zig
  src/cli/update/StagedExecutable.zig
  src/cli/update/release.zig
  src/cli/update/windows_handoff.ps1
  src/cli/update_command.zig
  src/main.zig
Labels: A-cli

fix(homeless-try): resolve named error union return type aliases
  .cursor/skills/zlint-new-rule/SKILL.md
  AGENTS.md
  apps/site/docs/rules/homeless-try.mdx
  docs/rules/homeless-try.md
  src/linter/ast_utils.zig
  src/linter/rules/homeless_try.zig
  src/linter/rules/snapshots/homeless-try.snap
  zlint.schema.json
Labels: A-linter

update AGENTS.md
  AGENTS.md
Labels: none

fix(homeless-try): resolve named error union return type aliases (#415)
  .cursor/skills/zlint-new-rule/SKILL.md
  AGENTS.md
  apps/site/docs/rules/homeless-try.mdx
  docs/rules/homeless-try.md
  src/linter/ast_utils.zig
  src/linter/rules/homeless_try.zig
  src/linter/rules/snapshots/homeless-try.snap
  zlint.schema.json
Labels: A-linter

fix(cli): handle dir and glob inclusion
  apps/site/docs/configuration/ignore.md
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/linter/Config.zig
  src/linter/LintService.zig
  src/main.zig
  src/reporter.zig
  src/reporter/Reporter.zig
  src/walk/glob_test.zig
  test/fixtures/lint/basic/clean.zig
  test/fixtures/lint/basic/fail/bad_syntax.zig
  test/fixtures/lint/basic/generated.zig
  test/fixtures/lint/basic/ignored-dir/vendored.zig
  test/fixtures/lint/basic/notes.txt
  test/fixtures/lint/basic/warn.zig
  test/fixtures/lint/basic/zlint.json
  test/fixtures/lint/dir-arg-ignored/src/clean.zig
  test/fixtures/lint/dir-arg-ignored/src/generated.zig
  test/fixtures/lint/dir-arg-ignored/zlint.json
  test/fixtures/lint/dir-arg/other.zig
  test/fixtures/lint/dir-arg/src/clean.zig
  test/fixtures/lint/dir-arg/src/nested/deep.zig
  test/fixtures/lint/dir-arg/zlint.json
  test/fixtures/lint/explicit-arg/.hidden/secret.zig
  test/fixtures/lint/explicit-arg/foo/bar.zig
  test/fixtures/lint/explicit-arg/root.zig
  test/fixtures/lint/explicit-arg/zlint.json
  zlint.schema.json
Labels: A-cli, A-linter, A-reporter, C-test

feat(config): config CLI option to use a shared zlint.json - main
  src/cli/Options.zig
  src/cli/lint_command.zig
Labels: A-cli

feat(fmt): ASCII formatting
  .typos.toml
  build.zig
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/io/Walker.zig
  src/io/glob.zig
  src/io/glob_test.zig
  src/io/tty.zig
  src/linter/rules/no_unresolved.zig
  src/linter/rules/snapshots/no-unresolved.snap
  src/main.zig
  src/reporter/Reporter.zig
  src/reporter/formatter.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/root.zig
Labels: A-cli, A-linter, A-reporter

feat(fmt): ASCII formatting (#418)
  .typos.toml
  build.zig
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/io/Walker.zig
  src/io/glob.zig
  src/io/glob_test.zig
  src/io/tty.zig
  src/linter/rules/no_unresolved.zig
  src/linter/rules/snapshots/no-unresolved.snap
  src/main.zig
  src/reporter/Reporter.zig
  src/reporter/formatter.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/root.zig
Labels: A-cli, A-linter, A-reporter

fixes
  .github/workflows/ci.yaml
  src/Semantic/Cfg.zig
  src/Semantic/Cfg/dot.zig
  src/cli/Options.zig
  src/cli/print_command.zig
  src/cli/test/print_cfg_test.zig
  test/semantic/cfg_dot_coverage.zig
Labels: A-cli, A-semantic, C-ci, C-test

fix: improve AST structural comparison
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  src/visit/AstComparator.zig
Labels: A-linter

fix ci
  .github/workflows/ci.yaml
  .github/workflows/codecov.yaml
  test/semantic/cfg_dot_coverage.zig
Labels: C-ci, C-test

fix(linter/duplicate-cast): Improve AST structural comparison coverage (#419)
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  src/visit/AstComparator.zig
Labels: A-linter

fix(reporter): render multiline spans with left-hand arrows
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  src/reporter/formatters/GraphicalFormatter.zig
  src/reporter/formatters/GraphicalTheme.zig
Labels: A-linter, A-reporter

fixes
  src/Semantic/Cfg/Draft.zig
  src/Semantic/Cfg/dot.zig
Labels: A-semantic

fix lints
  src/linter/rules/duplicate_case.zig
Labels: A-linter

check exit/entry blocks per container == 1
  test/semantic/cfg_dot_coverage.zig
Labels: C-test

feat(sema): Control Flow Analysis (#412)
  .github/workflows/ci.yaml
  .github/workflows/codecov.yaml
  src/Semantic.zig
  src/Semantic/Builder.zig
  src/Semantic/Cfg.zig
  src/Semantic/Cfg/Builder.zig
  src/Semantic/Cfg/Draft.zig
  src/Semantic/Cfg/dot.zig
  src/Semantic/NodeLinks.zig
  src/cli/Options.zig
  src/cli/print_command.zig
  src/cli/test/print_cfg_test.zig
  src/main.zig
  test/harness/TestSuite.zig
  test/harness/runner.zig
  test/semantic/cfg_dot_coverage.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
  test/snapshots/cfg-dot-coverage/lightpanda.snap
  test/test_e2e.zig
Labels: A-cli, A-semantic, C-ci, C-test

fix newlines
  src/reporter/formatters/GraphicalFormatter.zig
Labels: A-reporter

add nthLine tests
  src/reporter/formatters/GraphicalFormatter.zig
Labels: A-reporter

fix(reporter): render multiline spans with left-hand arrows (#420)
  src/linter/rules/duplicate_case.zig
  src/linter/rules/snapshots/duplicate-case.snap
  src/reporter/formatters/GraphicalFormatter.zig
  src/reporter/formatters/GraphicalTheme.zig
Labels: A-linter, A-reporter

.github/labeler.yml:

A-cli:
  - changed-files:
      - any-glob-to-any-file: ["src/cli/**"]

A-linter:
  - changed-files:
      - any-glob-to-any-file: ["src/linter/**", "src/linter.zig"]

A-semantic:
  - changed-files:
      - any-glob-to-any-file: ["src/Semantic/**", "src/Semantic.zig"]

A-reporter:
  - changed-files:
      - any-glob-to-any-file: ["src/reporter/**", "src/reporter.zig"]

C-ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

C-test:
  - changed-files:
      - any-glob-to-any-file: ["test/**"]
