Repository DonIsaac/zlint, changes with the labels that .github/labeler.yml gives for each.
All labels: A-cli, A-linter, A-semantic, A-reporter, C-ci, C-test

fix(sema): handle pointer-capture and cont_expr scoping in visitWhile
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_decl_test.zig
  test/snapshots/snapshot-coverage/simple/pass/fibonacci.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/loops_while.zig.snap
Labels: A-semantic, C-test

fix(sema): bind payload symbols in while loops (#347)
  .vscode/settings.json
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_decl_test.zig
  src/printer/Printer.zig
  src/util.zig
  test/snapshots/snapshot-coverage/simple/pass/fibonacci.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/loops_while.zig.snap
Labels: A-semantic, C-test

ci: add linux riscv64 and loongarch64
  .github/workflows/release.yaml
Labels: C-ci

ci: map riscv64/loongarch64 in install.sh
  tasks/install.sh
Labels: none

ci: add linux riscv64 and loongarch64 (#348)
  .github/workflows/release.yaml
  tasks/install.sh
Labels: C-ci

fix(cli): fix new-rule script
  .gitignore
  tasks/new-rule.ts
Labels: none

fix
  tasks/new-rule.ts
Labels: none

fix(cli): fix new-rule script (#349)
  .gitignore
  tasks/new-rule.ts
Labels: none

chore(ci): upgrade outdated GitHub Actions to latest versions
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/codecov.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/js.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
Labels: C-ci

speed up e2e test runs
  test/harness/runner.zig
  test/snapshots/semantic-coverage/ghostty.snap
Labels: C-test

fix coderabbit comments
  src/cli/lint_command.zig
  src/linter/LintService.zig
  src/visit/walk.zig
  test/utils.zig
Labels: A-cli, A-linter, C-test

update ghotty snapshots
  test/snapshots/semantic-coverage/ghostty.snap
Labels: C-test

chore: bump version to 0.9.0
  build.zig.zon
Labels: none

chore(ci): upgrade outdated GitHub Actions (#351)
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/codecov.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/js.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
Labels: C-ci

fix(ci): scope codecov upload to merged kcov report
  .github/workflows/codecov.yaml
Labels: C-ci

fix(ci): use correct fail_ci_if_error codecov input
  .github/workflows/codecov.yaml
Labels: C-ci

chore(e2e): bump ecosystem repos to latest versions
  .cursor/commands/bump-submodules.md
  test/repos.json
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: C-test

remove bun; add lightpanda + nullclaw
  test/repos.json
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/lightpanda.snap
  test/snapshots/semantic-coverage/nullclaw.snap
Labels: C-test

fix ghostty snap
  test/snapshots/semantic-coverage/ghostty.snap
Labels: C-test

chore(e2e): bump ecosystem repos to latest versions (#353)
  .cursor/commands/bump-submodules.md
  test/repos.json
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/lightpanda.snap
  test/snapshots/semantic-coverage/nullclaw.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: C-test

fix(ci): scope codecov upload to merged kcov report (#352)
  .github/workflows/codecov.yaml
Labels: C-ci

fix(ci): relativize kcov cobertura source path for codecov
  Justfile
Labels: none

fix(ci): upload kcov native codecov.json instead of cobertura
  .github/workflows/codecov.yaml
  Justfile
Labels: C-ci

chore(ci): temporarily capture kcov report artifact for debugging
  .github/workflows/codecov.yaml
Labels: C-ci

fix(ci): build modern kcov from source for coverage
  .github/workflows/codecov.yaml
Labels: C-ci

chore(ci): debug - capture individual kcov reports
  .github/workflows/codecov.yaml
Labels: C-ci

fix(ci): build coverage binaries with LLVM backend for kcov
  .github/workflows/codecov.yaml
  Justfile
  build.zig
Labels: C-ci

ci: re-enable lint job
  .github/workflows/ci.yaml
  build.zig
  src/Semantic.zig
  src/Semantic/Builder.zig
  src/linter/rules/allocator_first_param.zig
  src/linter/rules/case_convention.zig
  src/linter/rules/duplicate_case.zig
  src/linter/rules/no_print.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/no_unresolved.zig
  src/linter/rules/suppressed_errors.zig
  src/linter/rules/unsafe_undefined.zig
  src/printer/Printer.zig
  src/reporter/Reporter.zig
  src/source.zig
  src/visit/AstComparator.zig
  tasks/codegen_task.zig
  tasks/docgen.zig
  test/semantic/ecosystem_coverage.zig
  test/utils.zig
Labels: A-linter, A-semantic, A-reporter, C-ci, C-test

remove more unused decls
  src/linter/rules/duplicate_case.zig
  src/linter/rules/no_print.zig
  src/linter/rules/no_return_try.zig
Labels: A-linter

ci: re-enable lint job (#355)
  .github/workflows/ci.yaml
  build.zig
  src/Semantic.zig
  src/Semantic/Builder.zig
  src/linter/rules/allocator_first_param.zig
  src/linter/rules/case_convention.zig
  src/linter/rules/duplicate_case.zig
  src/linter/rules/no_print.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/no_unresolved.zig
  src/linter/rules/suppressed_errors.zig
  src/linter/rules/unsafe_undefined.zig
  src/printer/Printer.zig
  src/reporter/Reporter.zig
  src/source.zig
  src/visit/AstComparator.zig
  tasks/codegen_task.zig
  tasks/docgen.zig
  test/semantic/ecosystem_coverage.zig
  test/utils.zig
Labels: A-linter, A-semantic, A-reporter, C-ci, C-test

feat(config)!: `ignore` supports glob patterns
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/linter/Config.zig
  src/walk/GlobSet.zig
  src/walk/Walker.zig
  src/walk/glob.zig
  zlint.schema.json
Labels: A-cli, A-linter

feat(glob): GlobSet supports pattern negation
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/walk/GlobSet.zig
Labels: A-cli

fix(cli): print usage as text and handle all parse errors (#379)
  src/main.zig
Labels: none

fix(reporter): prevent u32 underflow panic on empty zlint.json
  src/cli/lint_config.zig
  src/reporter/formatters/GraphicalFormatter.zig
  test/fixtures/config-empty/zlint.json
Labels: A-cli, A-reporter, C-test

fix(cli): print usage as text and handle all parse errors (#379) (#381)
  src/main.zig
Labels: none

fix(reporter): prevent u32 underflow panic on empty zlint.json (#382)
  src/cli/lint_config.zig
  src/reporter/formatters/GraphicalFormatter.zig
  test/fixtures/config-empty/zlint.json
Labels: A-cli, A-reporter, C-test

Detect returned stack slices
  src/linter/rules/returned_stack_reference.zig
  src/linter/rules/snapshots/returned-stack-reference.snap
Labels: A-linter

up(linter): improve returned-stack-reference rule
  src/linter/ast_utils.zig
  src/linter/rules/returned_stack_reference.zig
  src/linter/rules/snapshots/returned-stack-reference.snap
Labels: A-linter

remove orphaned FIXME
  src/linter/rules/returned_stack_reference.zig
Labels: A-linter

fix(sema): bind references after inline container declarations
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_ref_test.zig
  src/linter/rules/unused_decls.zig
  test/fixtures/simple/pass/container_field.zig
  test/snapshots/snapshot-coverage/simple/pass.snap
  test/snapshots/snapshot-coverage/simple/pass/container_field.zig.snap
Labels: A-linter, A-semantic, C-test

.github/labeler.yml:

A-cli:
  - changed-files:
      - any-glob-to-any-file: ["src/cli/**"]

A-linter:
  - changed-files:
      - any-glob-to-any-file: ["src/linter/**", "src/linter.zig"]

A-semantic:
  - changed-files:
      - any-glob-to-any-file: ["src/Semantic/**", "src/Semantic.zig"]

A-reporter:
  - changed-files:
      - any-glob-to-any-file: ["src/reporter/**", "src/reporter.zig"]

C-ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

C-test:
  - changed-files:
      - any-glob-to-any-file: ["test/**"]
