Repository DonIsaac/zlint, changes with the labels that .github/labeler.yml gives for each.
All labels: A-cli, A-linter, A-semantic, A-reporter, C-ci, C-test

.github/labeler.yml:

A-cli:
  - changed-files:
      - any-glob-to-any-file: ["src/cli/**"]

A-linter:
  - changed-files:
      - any-glob-to-any-file: ["src/linter/**", "src/linter.zig"]

A-semantic:
  - changed-files:
      - any-glob-to-any-file: ["src/Semantic/**", "src/Semantic.zig"]

A-reporter:
  - changed-files:
      - any-glob-to-any-file: ["src/reporter/**", "src/reporter.zig"]

C-ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

C-test:
  - changed-files:
      - any-glob-to-any-file: ["test/**"]

update snapshot
  test/snapshots/snapshot-coverage/simple/pass/container_field.zig.snap
Labels: C-test

fix(sema): bind references after inline container declarations (#386)
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_ref_test.zig
  src/linter/rules/unused_decls.zig
  test/fixtures/simple/pass/container_field.zig
  test/snapshots/snapshot-coverage/simple/pass.snap
  test/snapshots/snapshot-coverage/simple/pass/container_field.zig.snap
Labels: A-linter, A-semantic, C-test

fix(linter): fix must-return-ref false positives (#373)
  src/linter/rules/must_return_ref.zig
  src/linter/rules/snapshots/must-return-ref.snap
Labels: A-linter

fix(ci): avoid Windows InvalidExe from restored Zig cache
  .github/workflows/ci.yaml
Labels: C-ci

fix(linter): u.b. in `FixBuilder.noop()`
  src/linter/fix.zig
  src/linter/rules/avoid_as.zig
  src/linter/tester.zig
Labels: A-linter

fix(linter): u.b. in `FixBuilder.noop()` (#388)
  src/linter/fix.zig
  src/linter/rules/avoid_as.zig
  src/linter/tester.zig
Labels: A-linter

fix(linter): fix must-return-ref false positives (#373) (#387)
  .github/workflows/ci.yaml
  src/linter/rules/must_return_ref.zig
  src/linter/rules/snapshots/must-return-ref.snap
Labels: A-linter, C-ci

fix(sema): handle representation types in container declarations
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_ref_test.zig
  src/linter/rules/unused_decls.zig
Labels: A-linter, A-semantic

fix(sema): handle representation types in container declarations (#389)
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_ref_test.zig
  src/linter/rules/unused_decls.zig
Labels: A-linter, A-semantic

fix(linter): unsafe-undefined ignores SAFETY comments on untyped decls (#371)
  src/linter/rules/unsafe_undefined.zig
Labels: A-linter

fix(linter): unsafe-undefined ignores SAFETY comments on untyped decls (#390)
  src/linter/rules/unsafe_undefined.zig
Labels: A-linter

refactor: follow anonymous constant zig conventions
  src/cli/lint_config.zig
  src/linter/fix.zig
  src/linter/rules/unused_decls.zig
  src/linter/test/lint_context_test.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/span.zig
  src/util/cow.zig
Labels: A-cli, A-linter, A-reporter

fix(sema): forward references never resolve to container fields
  src/Semantic.zig
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_ref_test.zig
Labels: A-semantic

fix(cli): safely report config resolution failures
  src/cli/lint_command.zig
  src/cli/lint_config.zig
Labels: A-cli

style(cli): trim comment and simplify error slice in lint config resolution
  src/cli/lint_command.zig
Labels: A-cli

refactor(sema): name BindingQuery presets; expand unused-decls coverage
  src/Semantic.zig
  src/Semantic/Builder.zig
  src/linter/rules/allocator_first_param.zig
  src/linter/rules/returned_stack_reference.zig
  src/linter/rules/snapshots/unused-decls.snap
  src/linter/rules/unused_decls.zig
Labels: A-linter, A-semantic

fix(cli): safely report config resolution failures (#393)
  src/cli/lint_command.zig
  src/cli/lint_config.zig
Labels: A-cli

fix(sema): forward references never resolve to container fields (#394)
  src/Semantic.zig
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_ref_test.zig
  src/linter/rules/allocator_first_param.zig
  src/linter/rules/returned_stack_reference.zig
  src/linter/rules/snapshots/unused-decls.snap
  src/linter/rules/unused_decls.zig
Labels: A-linter, A-semantic

feat(linter): add cognitive-complexity rules for functions and files
  apps/site/docs/rules/cognitive-complexity-file.mdx
  apps/site/docs/rules/cognitive-complexity.mdx
  src/linter/cognitive_complexity.zig
  src/linter/config/Rules.zig
  src/linter/config/rules_config_rules.zig
  src/linter/rules.zig
  src/linter/rules/cognitive_complexity.zig
  src/linter/rules/cognitive_complexity_file.zig
  src/linter/rules/snapshots/cognitive-complexity-file.snap
  src/linter/rules/snapshots/cognitive-complexity.snap
  zlint.schema.json
Labels: A-linter

feat(cli): add --print-config and --init commands
  src/cli/Options.zig
  src/linter/Config.zig
  src/main.zig
Labels: A-cli, A-linter

chore: pin development toolchain with mise
  AGENTS.md
  CONTRIBUTING.md
  mise.toml
Labels: none

ci(codecov): authenticate uploads with OIDC via the Codecov GitHub App
  .github/workflows/codecov.yaml
Labels: C-ci

feat(rules): add no-anonymous-tests rule
  apps/site/docs/rules/no-anonymous-tests.mdx
  src/linter/config/Rules.zig
  src/linter/config/rules_config_rules.zig
  src/linter/rules.zig
  src/linter/rules/no_anonymous_tests.zig
  src/linter/rules/snapshots/no-anonymous-tests.snap
  zlint.schema.json
Labels: A-linter

refactor: follow anonymous constant zig conventions (#391)
  src/cli/lint_config.zig
  src/linter/fix.zig
  src/linter/rules/unused_decls.zig
  src/linter/test/lint_context_test.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/span.zig
  src/util/cow.zig
Labels: A-cli, A-linter, A-reporter

feat(e2e): colored reporting + github actions formatting
  build.zig
  test/harness.zig
  test/harness/Config.zig
  test/harness/TestSuite.zig
  test/harness/runner.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
  test/test_e2e.zig
  test/utils.zig
Labels: C-test

feat(e2e): colored reporting + github actions formatting (#397)
  build.zig
  test/harness.zig
  test/harness/Config.zig
  test/harness/TestSuite.zig
  test/harness/runner.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
  test/test_e2e.zig
  test/utils.zig
Labels: C-test

chore(site): upgrade Docusaurus/deps and restore GitHub icon
  apps/site/docusaurus.config.ts
  apps/site/package.json
  apps/site/src/components/icons/GithubIcon.tsx
  apps/site/src/pages/index.tsx
  apps/site/tsconfig.json
  apps/vscode-extension/package.json
  bun.lock
  package.json
Labels: none

fix: vscode extension libs in tsconfig.json
  apps/vscode-extension/tsconfig.json
Labels: none

chore(site): upgrade Docusaurus/deps and restore GitHub icon (#399)
  apps/site/docusaurus.config.ts
  apps/site/package.json
  apps/site/src/components/icons/GithubIcon.tsx
  apps/site/src/pages/index.tsx
  apps/site/tsconfig.json
  apps/vscode-extension/package.json
  apps/vscode-extension/tsconfig.json
  bun.lock
  package.json
Labels: none

fix(sema): bind payload captures for errdefer, while-else, and multi-capture switch prongs
  bun.lock
  src/Semantic/Builder.zig
  src/Semantic/Symbol.zig
  src/Semantic/test/symbol_decl_test.zig
  src/Semantic/test/symbol_ref_test.zig
  src/linter/rules/useless_error_return.zig
  test/fixtures/simple/pass/payload_captures.zig
  test/snapshots/snapshot-coverage/simple/pass.snap
  test/snapshots/snapshot-coverage/simple/pass/payload_captures.zig.snap
Labels: A-linter, A-semantic, C-test

fix(ci): relativize kcov cobertura source path for codecov
  Justfile
Labels: none

fix(ci): build modern kcov from source for coverage
  .github/workflows/codecov.yaml
Labels: C-ci

fix(ci): build coverage binaries with LLVM backend for kcov
  .github/workflows/codecov.yaml
  Justfile
  build.zig
Labels: C-ci

fix(ci): upload kcov native codecov.json instead of cobertura
  .github/workflows/codecov.yaml
  Justfile
Labels: C-ci

chore(ci): temporarily capture kcov report artifact for debugging
  .github/workflows/codecov.yaml
Labels: C-ci

chore(ci): debug - capture individual kcov reports
  .github/workflows/codecov.yaml
Labels: C-ci

fix(ci): relativize kcov cobertura source path for codecov (#354)
  .github/workflows/codecov.yaml
  Justfile
  build.zig
Labels: C-ci

fix(sema): fn proto params no longer inherit container flags
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_decl_test.zig
  test/snapshots/snapshot-coverage/simple/pass/writer_interface.zig.snap
Labels: A-semantic, C-test

fix(sema): bind payload captures for errdefer, while-else, multi-capture switch (#401)
  src/Semantic/Builder.zig
  src/Semantic/Symbol.zig
  src/Semantic/test/symbol_decl_test.zig
  src/Semantic/test/symbol_ref_test.zig
  src/linter/rules/useless_error_return.zig
  test/fixtures/simple/pass/payload_captures.zig
  test/snapshots/snapshot-coverage/simple/pass.snap
  test/snapshots/snapshot-coverage/simple/pass/payload_captures.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/writer_interface.zig.snap
Labels: A-linter, A-semantic, C-test

fix(sema): unresolved_references stored resolved refs, dropped unresolved ones
  build.zig
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_ref_test.zig
  test/fixtures/simple/pass/unresolved_reference.zig
  test/snapshots/snapshot-coverage/simple/pass/container_field.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/unresolved_reference.zig.snap
Labels: A-semantic, C-test
