Repository DonIsaac/zlint, changes with the labels that .github/labeler.yml gives for each.
All labels: A-cli, A-linter, A-semantic, A-reporter, C-ci, C-test

test(snapshot): bump pass count to 21 for payload_captures fixture
  test/snapshots/snapshot-coverage/simple/pass.snap
Labels: C-test

fix(sema): invert `unresolved_references` filter in root frame compaction (#398)
  build.zig
  src/Semantic/Builder.zig
  src/Semantic/test/symbol_ref_test.zig
  test/fixtures/simple/pass/unresolved_reference.zig
  test/snapshots/snapshot-coverage/simple/pass.snap
  test/snapshots/snapshot-coverage/simple/pass/container_field.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/unresolved_reference.zig.snap
Labels: A-semantic, C-test

refactor: clean up span usage and creation
  src/Error.zig
  src/Semantic/Builder.zig
  src/linter/disable_directives/Parser.zig
  src/linter/disable_directives/Parser_test.zig
  src/linter/lint_context.zig
  src/linter/rules/line_length.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/returned_stack_reference.zig
  src/reporter/formatters/JSONFormatter.zig
  src/span.zig
  src/util/cow.zig
Labels: A-linter, A-semantic, A-reporter

refactor: clean up span usage and creation (#402)
  src/Error.zig
  src/Semantic/Builder.zig
  src/linter/disable_directives/Parser.zig
  src/linter/disable_directives/Parser_test.zig
  src/linter/lint_context.zig
  src/linter/rules/line_length.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/returned_stack_reference.zig
  src/reporter/formatters/JSONFormatter.zig
  src/span.zig
  src/util/cow.zig
Labels: A-linter, A-semantic, A-reporter

chore: bump version to 0.9.1
  build.zig.zon
Labels: none

fix(tests): Make sure CLI tests get run
  build.zig
  src/cli/Options.zig
  src/cli/lint_config.zig
  src/main.zig
  src/reporter/formatters/GithubFormatter.zig
  src/reporter/formatters/JSONFormatter.zig
  src/root.zig
Labels: A-cli, A-reporter

update test-all
  build.zig
  src/Semantic/test/fixtures/unresolved_reference.zig
  src/root.zig
Labels: A-semantic

fix(unused-decls): keep doc comments attached when autofixing
  src/linter/rules/unused_decls.zig
Labels: A-linter

fix(unused-decls): keep doc comments attached when autofixing (#404)
  src/linter/rules/unused_decls.zig
Labels: A-linter

chore: change static library artifact name to zlint-lib
  build.zig
Labels: none

chore: change static library artifact name to zlint-lib (#405)
  build.zig
Labels: none

handle alignment when sizing fixed allocator buffers
  build.zig
  src/Semantic/test/fixtures/unresolved_reference.zig
  src/cli/lint_config.zig
  src/main.zig
  src/printer/SemanticPrinter.zig
  src/root.zig
Labels: A-cli, A-semantic

fix(tests): Make sure CLI tests get run (#403)
  build.zig
  src/cli/Options.zig
  src/cli/lint_config.zig
  src/main.zig
  src/printer/SemanticPrinter.zig
  src/reporter/formatters/GithubFormatter.zig
  src/reporter/formatters/JSONFormatter.zig
  src/root.zig
Labels: A-cli, A-reporter

fix(config): parse `ignore` globs mid-document
  src/cli/lint_config.zig
  src/walk/GlobSet.zig
  test/fixtures/config-ignore/zlint.json
Labels: A-cli, C-test

feat(config)!: `ignore` supports glob patterns
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/linter/Config.zig
  src/walk/GlobSet.zig
  src/walk/Walker.zig
  src/walk/glob.zig
  zlint.schema.json
Labels: A-cli, A-linter

feat(config): config extension and resolution
  CLAUDE.md
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/json.zig
  src/linter/Config.zig
  src/linter/LintService.zig
  src/linter/config/File.zig
  src/linter/config/Rules.zig
  src/linter/config/RulesConfig.zig
  src/linter/config/rule_config.zig
  src/linter/linter.zig
  src/linter/test/disabling_rules_test.zig
  tasks/confgen.zig
  zlint.schema.json
Labels: A-cli, A-linter

refactor(linter): remove duplicate rule config files
  .cursor/skills/zlint-new-rule/SKILL.md
  src/linter/Config.zig
  src/linter/RuleSet.zig
  src/linter/config/RulesConfig.zig
  src/linter/config/rule_config.zig
  src/linter/config/rules_config.zig
  src/linter/config/rules_config_rules.zig
  zlint.schema.json
Labels: A-linter

feat(glob): GlobSet supports pattern negation
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/walk/GlobSet.zig
Labels: A-cli

perf(parse): dont tokenize twice
  src/Semantic/Parse.zig
  src/Semantic/tokenizer.zig
Labels: A-semantic

expose addRunLint function, and build graph refactor I will rid in a sec
  build.zig
Labels: none

remove refactor stuff
  build.zig
Labels: none

make ZLintStep public
  build.zig
Labels: none

refactor(sema): use .root and .empty conventions
  src/Semantic.zig
  src/Semantic/Builder.zig
  src/Semantic/ModuleRecord.zig
  src/Semantic/NodeLinks.zig
  src/Semantic/Reference.zig
  src/Semantic/ReferenceStack.zig
  src/Semantic/Scope.zig
  src/Semantic/Symbol.zig
  src/Semantic/ast.zig
  src/Semantic/test/modules_test.zig
  src/Semantic/test/scopes_test.zig
  src/Semantic/test/symbol_decl_test.zig
  src/Semantic/test/util.zig
  src/cli/Options.zig
  src/linter/ast_utils.zig
  src/linter/rules/no_catch_return.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/returned_stack_reference.zig
  src/linter/rules/unused_decls.zig
  src/linter/rules/useless_error_return.zig
  src/printer/SemanticPrinter.zig
  src/reporter/formatters/JSONFormatter.zig
  src/util.zig
  src/util/id.zig
  src/visit/walk.zig
Labels: A-cli, A-linter, A-semantic, A-reporter

refactor(sema): use .root and .empty conventions (#409)
  src/Semantic.zig
  src/Semantic/Builder.zig
  src/Semantic/ModuleRecord.zig
  src/Semantic/NodeLinks.zig
  src/Semantic/Reference.zig
  src/Semantic/ReferenceStack.zig
  src/Semantic/Scope.zig
  src/Semantic/Symbol.zig
  src/Semantic/ast.zig
  src/Semantic/test/modules_test.zig
  src/Semantic/test/scopes_test.zig
  src/Semantic/test/symbol_decl_test.zig
  src/Semantic/test/util.zig
  src/cli/Options.zig
  src/linter/ast_utils.zig
  src/linter/rules/no_catch_return.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/returned_stack_reference.zig
  src/linter/rules/unused_decls.zig
  src/linter/rules/useless_error_return.zig
  src/printer/SemanticPrinter.zig
  src/reporter/formatters/JSONFormatter.zig
  src/util.zig
  src/util/id.zig
  src/visit/walk.zig
Labels: A-cli, A-linter, A-semantic, A-reporter

add coverage tests
  src/Semantic.zig
  src/Semantic/Builder.zig
  src/Semantic/Cfg.zig
  src/Semantic/Cfg/Builder.zig
  src/Semantic/Cfg/Draft.zig
  src/Semantic/Cfg/dot.zig
  src/Semantic/NodeLinks.zig
  src/cli/Options.zig
  src/cli/print_command.zig
  src/main.zig
  test/harness/TestSuite.zig
  test/harness/runner.zig
  test/semantic/cfg_dot_coverage.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
  test/snapshots/cfg-dot-coverage/lightpanda.snap
  test/test_e2e.zig
Labels: A-cli, A-semantic, C-test

feat: Add build.zig util (start of path for source based distribution with comptime rule config) (#410)
  build.zig
Labels: none

add custom rule module structure, pending import structure
  build.zig
  src/linter/rule.zig
Labels: A-linter

considering how to make all dependencies on the static rule design find custom_rules
  src/linter/rule.zig
  src/linter/rules.zig
Labels: A-linter

try fixing something else, and comment out change to rules.zig. Really we need codegen during build.zig via addWriteFiles
  src/linter/rules.zig
  tasks/gen_utils.zig
Labels: A-linter

generate empty struct if no custom rules
  build.zig
Labels: none

compiling again
  build.zig
  src/linter/rule.zig
  src/main.zig
Labels: A-linter

wip custom rules as build option implementation
  build.zig
Labels: none

add an all_rules codegen
  build.zig
  src/linter/builtin-rules.zig
Labels: A-linter

Revert "add an all_rules codegen"
  build.zig
  src/linter/rules.zig
Labels: A-linter

wip change codegen to happen as a dependency rather than an explicit step
  build.zig
  tasks/codegen_task.zig
  tasks/gen_utils.zig
Labels: none

consolidate generated all_rules, move custom rules exports into zlint module
  build.zig
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/cli/print_command.zig
  src/cli/test/print_ast_test.zig
  src/lint.zig
  src/linter/Config.zig
  src/linter/RuleSet.zig
  src/linter/all_rules.zig
  src/linter/builtin_rules.zig
  src/linter/config/Rules.zig
  src/linter/config/rules_config.zig
  src/linter/config/rules_config_rules.zig
  src/linter/rule.zig
  src/main.zig
  src/root.zig
  tasks/codegen_task.zig
  tasks/confgen.zig
  tasks/constants.zig
  tasks/gen_utils.zig
Labels: A-cli, A-linter

tweaks and restore generating zlint.schema.json
  build.zig
  src/linter/builtin_rules.zig
  src/linter/config/rules_config_rules.zig
  tasks/codegen_task.zig
Labels: A-linter

fix(sema): preserve while body scope flags
  src/Semantic/Builder.zig
Labels: A-semantic

fix incorrect constant for array list of rule data
  src/linter/RuleSet.zig
Labels: A-linter

fix(sema): preserve while body scope flags (#413)
  src/Semantic/Builder.zig
Labels: A-semantic

.github/labeler.yml:

A-cli:
  - changed-files:
      - any-glob-to-any-file: ["src/cli/**"]

A-linter:
  - changed-files:
      - any-glob-to-any-file: ["src/linter/**", "src/linter.zig"]

A-semantic:
  - changed-files:
      - any-glob-to-any-file: ["src/Semantic/**", "src/Semantic.zig"]

A-reporter:
  - changed-files:
      - any-glob-to-any-file: ["src/reporter/**", "src/reporter.zig"]

C-ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

C-test:
  - changed-files:
      - any-glob-to-any-file: ["test/**"]
