Repository DonIsaac/zlint, pull requests merged in 2025-03, with the labels that each got.

#243 feat(linter): add new `useless-error-return` rule
  .vscode/launch.json
  docs/rules/useless-error-return.md
  src/cli/lint_command.zig
  src/linter/LintService.zig
  src/linter/ast_utils.zig
  src/linter/config/rules_config.methods.zig
  src/linter/config/rules_config.zig
  src/linter/lint_context.zig
  src/linter/linter.zig
  src/linter/rules.zig
  src/linter/rules/homeless_try.zig
  src/linter/rules/must_return_ref.zig
  src/linter/rules/snapshots/useless-error-return.snap
  src/linter/rules/unused_decls.zig
  src/linter/rules/useless_error_return.zig
  src/linter/test/disabling_rules_test.zig
  src/linter/tester.zig
  src/semantic/Semantic.zig
  src/util.zig
  src/visit/walk.zig
  tasks/new-rule.ts
  test/test_e2e.zig
Labels: C-enhancement, A-semantic, A-linter, C-test, A-cli

#246 feat(sema): record imports
  .gitignore
  src/cli/print_command.zig
  src/printer/SemanticPrinter.zig
  src/semantic/ModuleRecord.zig
  src/semantic/Semantic.zig
  src/semantic/SemanticBuilder.zig
  src/semantic/test/modules_test.zig
  src/semantic/test/util.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
  test/snapshots/snapshot-coverage/simple/pass/block.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/block_comptime.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/cond_if.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/container_error.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/enum_members.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/fibonacci.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/fn_comptime.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/fn_in_fn.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/foo.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/loops_for.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/loops_while.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/stmt_test.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/struct_members.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/struct_tuple.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/top_level_struct.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/unresolved_import.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/writer_interface.zig.snap
Labels: C-enhancement, A-semantic, C-test, A-cli

#247 chore: upgrade to zig 0.14.0
  .github/workflows/autofix.yaml
  .github/workflows/ci.yaml
  .github/workflows/codecov.yaml
  .github/workflows/release.yaml
  .vscode/settings.json
  Justfile
  build.zig
  build.zig.zon
  src/cli/lint_config.zig
  src/linter/Config.zig
  src/linter/LintService.zig
  src/linter/RuleSet.zig
  src/linter/rule.zig
  src/linter/rules/useless_error_return.zig
  src/linter/test/fix_test.zig
  src/printer/Printer.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/semantic/SemanticBuilder.zig
  src/span.zig
  src/util/bitflags.zig
  src/util/cow.zig
  src/util/debug_only.zig
  src/util/id.zig
  src/visit/walk.zig
  src/walk/Walker.zig
  tasks/gen_utils.zig
  test/harness/runner.zig
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: A-semantic, A-linter, C-test, C-ci, A-reporter, A-cli

#248 perf: use SmpAllocator
  src/main.zig
  test/harness/runner.zig
Labels: C-perf

#249 perf: format to string before writing
  src/reporter/Reporter.zig
  src/reporter/StringWriter.zig
Labels: A-reporter, C-perf

#245 feat(linter): add `empty-file` rule
  docs/rules/empty-file.md
  src/linter/config/rules_config.zig
  src/linter/disable_directives/Parser.zig
  src/linter/rules.zig
  src/linter/rules/empty_file.zig
  src/linter/rules/snapshots/empty-file.snap
Labels: C-enhancement, A-linter

#250 chore: slight StringWriter improvements
  src/reporter/Reporter.zig
  src/reporter/StringWriter.zig
Labels: A-reporter

#252 feat(linter): configure ignored folders
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/linter/Config.zig
  zlint.schema.json
Labels: C-enhancement, A-linter, A-cli

#253 fix(linter/homeless-return): handle `!if ...` return types
  src/linter/ast_utils.zig
  src/linter/rules/homeless_try.zig
Labels: C-bug, A-linter

#256 fix(linter/homeless-try): false positive when returning errors
  src/linter/rules/homeless_try.zig
Labels: A-linter

#255 fix(linter/unsafe-undefined): false positive for enum variants named `undefined`
  src/linter/rules/unsafe_undefined.zig
  src/semantic/NodeLinks.zig
  src/semantic/SemanticBuilder.zig
Labels: C-bug, A-semantic, A-linter

#257 perf(sema): add branch hints to parts of builder
  src/semantic/SemanticBuilder.zig
  src/util.zig
Labels: A-semantic

#260 fix(linter/homeless-try): false positive in labeled continues
  src/linter/rules/homeless_try.zig
  src/semantic/SemanticBuilder.zig
Labels: C-bug, A-semantic, A-linter

#261 chore: remove unused decls
  Justfile
  src/cli/lint_command.zig
  src/linter/LintService.zig
  src/linter/rules/useless_error_return.zig
  src/main.zig
  src/semantic/ScopeLinks.zig
  src/semantic/test/modules_test.zig
  tasks/confgen.zig
  tasks/docgen.zig
  tasks/gen_utils.zig
Labels: A-semantic, A-linter, A-cli

#262 feat(linter): add `avoid-as` rule
  docs/rules/avoid-as.md
  src/linter/config/rules_config.zig
  src/linter/rules.zig
  src/linter/rules/avoid_as.zig
  src/linter/rules/snapshots/avoid-as.snap
  src/span.zig
Labels: C-enhancement, A-linter

#263 fix(reporter): odd-length span underlines
  src/linter/rules/snapshots/homeless-try.snap
  src/linter/rules/snapshots/must-return-ref.snap
  src/linter/rules/snapshots/no-unresolved.snap
  src/linter/rules/snapshots/useless-error-return.snap
  src/reporter/formatters/GraphicalFormatter.zig
Labels: A-linter, A-reporter

#264 fix(linter): `--fix` should not apply dangerous fixes
  src/cli/lint_command.zig
  src/linter/fix.zig
  src/linter/lint_context.zig
  src/linter/rules/unused_decls.zig
  src/linter/test/lint_context_test.zig
Labels: C-bug, A-linter, A-cli

#266 fix(linter/avoid-as): fixer should not strip `pub` from vars
  src/linter/rules/avoid_as.zig
Labels: C-bug, A-linter

#267 refactor(sema): make better use of namespaces
  src/cli/print_command.zig
  src/linter/LintService.zig
  src/linter/lint_context.zig
  src/linter/test/disabling_rules_test.zig
  src/linter/test/lint_context_test.zig
  src/linter/tester.zig
  src/printer/SemanticPrinter.zig
  src/semantic.zig
  src/semantic/Scope.zig
  src/semantic/Semantic.zig
  src/semantic/SemanticBuilder.zig
  src/semantic/Symbol.zig
  src/semantic/test/util.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
Labels: A-semantic, A-linter, C-test, A-cli

#268 refactor: remove string alias
  src/Error.zig
  src/cli/Options.zig
  src/linter/lint_context.zig
  src/linter/rule.zig
  src/linter/rules/avoid_as.zig
  src/linter/rules/empty_file.zig
  src/linter/tester.zig
  src/printer/Printer.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/semantic/SemanticBuilder.zig
  src/semantic/Symbol.zig
  src/source.zig
  src/span.zig
  src/util.zig
Labels: A-semantic, A-linter, A-reporter, A-cli
