Repository DonIsaac/zlint, pull requests merged in 2025-01, with the labels that each got.

#189 fix: bug in Cow.toOwned, util tests never being run
  .vscode/launch.json
  Justfile
  build.zig
  src/util/cow.zig
Labels: C-bug

#187 Fix `resolveLintConfig` test and bad arena move causing leak
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/linter.zig
  src/linter/Config.zig
  src/linter/test/disabling_rules_test.zig
  test/fixtures/config/zlint.json
Labels: A-linter, C-test, A-cli

#191 feat(linter): auto-fix lint rule violations with `--fix`
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/linter.zig
  src/linter/fix.zig
  src/linter/lint_context.zig
  src/linter/rule.zig
  src/linter/rules/homeless_try.zig
  src/linter/rules/no_catch_return.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/no_undefined.zig
  src/linter/rules/no_unresolved.zig
  src/linter/rules/snapshots/homeless-try.snap
  src/linter/rules/suppressed_errors.zig
  src/linter/rules/unused_decls.zig
  src/linter/test/fix_test.zig
  src/semantic/Semantic.zig
  src/source.zig
  src/span.zig
Labels: C-enhancement, A-semantic, A-linter, A-cli

#197 docs: add doc comments to Cow
  src/util/cow.zig
Labels: C-documentation

#195 fix(linter): multiple file level directives
  src/linter.zig
  src/linter/disable_directives/Parser.zig
  src/linter/disable_directives/Parser_test.zig
  src/linter/test/disabling_rules_test.zig
Labels: A-linter

#199 feat(linter/no-undefined): check for undefined in comparisons
  src/linter/rules/no_undefined.zig
  src/linter/rules/snapshots/no-undefined.snap
Labels: C-enhancement, A-linter

#202 fix(linter): do not turn `no-return-try` on by default
  CONTRIBUTING.md
  docs/rules/no-return-try.md
  src/linter/rules/no_return_try.zig
Labels: A-linter

#207 fix(reporter): `NO_COLOR=1` disables ANSI color codes
  src/reporter/Reporter.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/reporter/formatters/GraphicalTheme.zig
  src/util.zig
  src/util/env.zig
Labels: A-reporter

#208 chore: fix most zlint errors
  .vscode/launch.json
  src/Error.zig
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/cli/print_command.zig
  src/linter.zig
  src/linter/Config.zig
  src/linter/RuleSet.zig
  src/linter/config/rule_config.zig
  src/linter/disable_directives/Parser.zig
  src/linter/disable_directives/Parser_test.zig
  src/linter/lint_context.zig
  src/linter/rule.zig
  src/linter/rules/homeless_try.zig
  src/linter/rules/no_catch_return.zig
  src/linter/rules/no_return_try.zig
  src/linter/rules/no_unresolved.zig
  src/linter/rules/suppressed_errors.zig
  src/linter/rules/unused_decls.zig
  src/linter/test/disabling_rules_test.zig
  src/linter/tester.zig
  src/main.zig
  src/printer/Printer.zig
  src/printer/SemanticPrinter.zig
  src/reporter.zig
  src/reporter/Reporter.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/reporter/formatters/GraphicalTheme.zig
  src/root.zig
  src/semantic/Scope.zig
  src/semantic/Semantic.zig
  src/semantic/SemanticBuilder.zig
  src/semantic/Symbol.zig
  src/semantic/test/scope_flags_test.zig
  src/semantic/test/symbol_decl_test.zig
  src/semantic/test/symbol_ref_test.zig
  src/semantic/test/util.zig
  src/semantic/tokenizer.zig
  src/source.zig
  src/span.zig
  src/util.zig
  src/util/cow.zig
  src/util/env.zig
  src/visit/walk.zig
  src/walk/Walker.zig
  tasks/docgen.zig
  test/harness/TestSuite.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
  test/test_e2e.zig
  test/utils.zig
Labels: A-semantic, A-linter, C-test, A-reporter, A-cli

#209 fix(semantic): flag root struct members with `.s_struct`
  src/semantic/SemanticBuilder.zig
  src/semantic/test/symbol_decl_test.zig
  test/snapshots/snapshot-coverage/simple/pass/top_level_struct.zig.snap
Labels: A-semantic, C-test

#210 feat(linter/no-unresolved): inform on missing file vs directory imports
  src/linter/rules/no_unresolved.zig
  src/linter/rules/snapshots/no-unresolved.snap
Labels: C-enhancement, A-linter

#211 fix(linter/no-unresolved): check directory imports correctly
  src/linter/rules/no_unresolved.zig
  src/linter/rules/snapshots/no-unresolved.snap
Labels: C-bug, A-linter

#212 feat(linter/suppressed-errors): allow suppressions on writer methods
  docs/rules/suppressed-errors.md
  src/linter/rules/snapshots/suppressed-errors.snap
  src/linter/rules/suppressed_errors.zig
  src/semantic/NodeLinks.zig
Labels: C-enhancement, A-semantic, A-linter

#214 feat(linter): report configs with unknown rules
  src/Error.zig
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/linter/config/rules_config.zig
  src/span.zig
  src/util.zig
  src/util/cow.zig
Labels: C-enhancement, A-linter, A-cli

#215 feat(cli): add `--no-summary` flag
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/reporter/Reporter.zig
Labels: C-enhancement, A-reporter, A-cli

#216 perf(reporter): use a buffered writer when printing reports
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/linter/tester.zig
  src/reporter/Reporter.zig
  src/reporter/formatter.zig
  src/reporter/formatters/GithubFormatter.zig
  src/reporter/formatters/GraphicalFormatter.zig
  src/semantic/Semantic.zig
  src/semantic/test/util.zig
  test/semantic/ecosystem_coverage.zig
  test/semantic/snapshot_coverage.zig
Labels: A-semantic, A-linter, C-test, A-reporter, C-perf, A-cli

#217 build: generate `RulesConfig` from rules set
  Justfile
  build.zig
  src/linter/Config.zig
  src/linter/config/rules_config.methods.zig
  src/linter/config/rules_config.zig
  tasks/confgen.zig
  tasks/docgen.zig
  tasks/gen_utils.zig
Labels: A-linter

#219 feat(linter): add `must-return-ref` rule
  Justfile
  docs/rules/must-return-ref.md
  src/linter/ast_utils.zig
  src/linter/config/rules_config.zig
  src/linter/rules.zig
  src/linter/rules/must_return_ref.zig
  src/linter/rules/snapshots/must-return-ref.snap
  src/visit/walk.zig
  src/visit/walk_test.zig
  tasks/gen_utils.zig
  tasks/new-rule.ts
Labels: C-enhancement, A-linter

#220 docs: auto-generate zig API docs
  Justfile
  build.zig
  src/linter/rule.zig
  src/visit/walk.zig
  src/visit/walk_test.zig
Labels: A-linter
