Repository DonIsaac/zlint, pull requests merged in 2025-02, with the labels that each got.

#223 refactor(linter): add `LintService`
  Justfile
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/cli/lint_config.zig
  src/lint.zig
  src/linter/Config.zig
  src/linter/LintService.zig
  src/linter/lint_context.zig
  src/linter/linter.zig
  src/linter/rule.zig
  src/linter/test/disabling_rules_test.zig
  src/linter/tester.zig
  src/root.zig
Labels: A-linter, A-cli

#224 test(linter): test lint rule auto-fixers
  src/linter/rules/no_catch_return.zig
  src/linter/tester.zig
Labels: A-linter, C-test

#225 refactor(util): add `Bitflags` mixin
  src/printer/SemanticPrinter.zig
  src/semantic/Reference.zig
  src/semantic/Scope.zig
  src/semantic/ScopeLinks.zig
  src/semantic/SemanticBuilder.zig
  src/semantic/Symbol.zig
  src/util.zig
  src/util/bitflags.zig
  src/util/bitflags_test.zig
  test/snapshots/snapshot-coverage/simple/pass/block.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/block_comptime.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/cond_if.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/container_error.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/enum_members.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/fibonacci.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/fn_comptime.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/fn_in_fn.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/foo.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/loops_for.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/loops_while.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/stmt_test.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/struct_members.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/top_level_struct.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/unresolved_import.zig.snap
  test/snapshots/snapshot-coverage/simple/pass/writer_interface.zig.snap
Labels: A-semantic, C-test

#227 fix(linter/homeless-try): handle `if` in fn return type
  src/linter/rules/homeless_try.zig
  src/linter/rules/snapshots/homeless-try.snap
Labels: A-linter

#228 fix(linter/suppressed-errors): allow suppression in test blocks
  docs/rules/suppressed-errors.md
  src/linter/ast_utils.zig
  src/linter/rules/suppressed_errors.zig
Labels: C-bug, A-linter

#229 chore: update ecosystem repo commit hashes, add ghostty
  test/repos.json
  test/semantic/ecosystem_coverage.zig
  test/snapshots/semantic-coverage/bun.snap
  test/snapshots/semantic-coverage/ghostty.snap
  test/snapshots/semantic-coverage/zig.snap
Labels: C-test

#233 feat(cli): add CLI flag to apply dangerous fixes
  src/cli/Options.zig
  src/cli/lint_command.zig
  src/lint.zig
  src/linter/LintService.zig
Labels: C-enhancement, A-linter, A-cli

#234 feat(linter): add dangerous auto fixer for `unused-decls`
  src/cli/Options.zig
  src/linter/LintService.zig
  src/linter/fix.zig
  src/linter/linter.zig
  src/linter/rules/no_catch_return.zig
  src/linter/rules/unused_decls.zig
  src/linter/test/fix_test.zig
  src/linter/tester.zig
Labels: C-enhancement, A-linter, A-cli

#235 fix(sema): handle container layouts
  src/semantic/SemanticBuilder.zig
  src/semantic/test/symbol_decl_test.zig
  src/semantic/test/symbol_ref_test.zig
Labels: C-bug, A-semantic

#236 fix(sema): bind tuple fields as references
  src/semantic/SemanticBuilder.zig
  src/semantic/test/symbol_ref_test.zig
  test/fixtures/simple/pass/struct_tuple.zig
  test/snapshots/snapshot-coverage/simple/pass.snap
  test/snapshots/snapshot-coverage/simple/pass/struct_tuple.zig.snap
Labels: C-bug, A-semantic, C-test

#237 fix: spans over multi-line nodes
  src/linter/lint_context.zig
  src/linter/rules/unused_decls.zig
Labels: C-bug, A-linter

#238 fix(sema): container field/variable name collisions
  src/linter/rules/unused_decls.zig
  src/semantic/Semantic.zig
  src/semantic/SemanticBuilder.zig
  src/semantic/test/symbol_ref_test.zig
Labels: C-bug, A-semantic, A-linter

#239 fix(sema): visit `T` in `[_]T{ ... }`
  src/semantic/SemanticBuilder.zig
  src/semantic/test/symbol_ref_test.zig
Labels: C-bug, A-semantic

#240 fix: do not add references to `_` in array declarations
  src/semantic/SemanticBuilder.zig
  src/semantic/test/symbol_ref_test.zig
Labels: A-semantic

#241 feat(linter): add hook to run a rule once per source file
  src/linter/linter.zig
  src/linter/rule.zig
  tasks/new-rule.ts
Labels: A-linter

#232 feat(linter): add `line-length` rule
  docs/rules/line-length.md
  src/linter/config/rule_config.zig
  src/linter/config/rules_config.zig
  src/linter/rule.zig
  src/linter/rules.zig
  src/linter/rules/line_length.zig
  src/linter/rules/snapshots/line-length.snap
Labels: A-linter, A-reporter
